# Python / bone_age
**/venv/
**/__pycache__/
**/.env
*.pt
*.weights
*.h5
*.pt
*.pth

# Node / bone-age-assesment
**/node_modules/
**/.next/
**/out/
**.ds_store

# Data besar (opsional, kalau datasetmu di sini)
**/dataset/